@import url('https://fonts.googleapis.com/css?family=Nunito:700|Roboto');
body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #090707!important;
}

button {
    text-transform: none;
}

.modal-header {
    text-transform: uppercase!important;
    letter-spacing: 2px!important;
}

.panel-default>.panel-heading {
    background: #008374 !important;
    color: white!important;
    text-shadow: none!important;
}

.navbar-default {
    background: black!important;
    border: none !important;
}

a.navbar-brand {
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: white!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bootstrap-header-table {
    font-family: "Roboto", Arial, sans-serif;
    max-width: 100%;
    padding: 0 30px;
}

.bootstrap-header-table .header-row .header-column {
    text-align: center;
}

.bootstrap-header-table .body-rows {
    padding: 5px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bootstrap-header-table .body-rows .body-row {
    border-bottom: 1px solid gainsboro;
}

.bootstrap-header-table .body-rows .body-row:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.bootstrap-header-table .body-rows .body-row .body-column {
    padding: 5px;
    word-wrap: break-word;
}

.bootstrap-header-table .body-rows .body-row .body-column:first-child {
    padding-left: 15px;
}

.bootstrap-header-table .body-rows .body-row .body-column:last-child {
    padding-right: 15px;
}

.ms-parent {
    width: 100% !important;
}

.ms-drop input[type="checkbox"] {
    margin-right: 8px;
}

.ms-drop input[type="radio"] {
    margin-right: 8px;
}

main {
    display: none;
}

.loader {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    font-size: 100%;
    color: black;
    line-height: 20vw;
    text-align: center;
    background-color: #ffc952
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}